<div class="flex">
  <% if flash[:notice] || flash[:alert] %>
    <div class="fixed-top mb-4 d-flex justify-content-center me-5 mt-2">
      <div class="alert d-flex justify-between align-items-center alert-success alert-dismissible shadow-lg" style="width: 50%" role="alert">
        <%= flash[:notice] || flash[:alert] %>
        <%#= button_to 'Undo', '#', method: :get, class: "btn btn-sm btn-success mx-3 d-flex" %>
        <button type="button" class="btn-close bg-danger align-items-center" style="border-radius: 20px; padding: 5px; width: 20px; height: 20px; margin: 15px; " data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  <% end %>
  <div class=" text-white h-screen p-3 d-flex flex-column align-items-center" style="width: 250px">
    <div class="d-flex flex-column gap-4 text-center">
      <!-- Logo -->
      <div class="flex mt-2" style="height: 40px; margin-bottom: 40px;">
        <%= image_tag("Frame 8.png", alt: "Logo", class: "") %>
      </div>

      <!-- Navigation Links -->
      <%= render partial: "shared/navigation_link", locals: { path: admin_dashboard_path, icon: "Feed-filled.png", text: "Feed", active_class: "text-black" } %>
      <%= render partial: "shared/navigation_link", locals: { path: admin_profile_path, icon: "profile-filled.png", text: "Profile", custom_classes: "bg-primary py-2 rounded px-2", active_class: "text-white fw-bold" } %>
      <%= render partial: "shared/navigation_link", locals: { path: admin_managed_users_dashboard_path, icon: "manage_user.png", text: "Manage Users"} %>
      <%= render partial: "shared/navigation_link", locals: { path: admin_dashboard_reports_path, icon: "report-filled.png", text: "Reports", active_class: "text-black" } %>
      <%= render partial: "shared/logout_link" %>
    </div>
  </div>


  <div class="container mx-auto p-6">
    <div class="container mb-4 flex items-center justify-between">

      <!-- Right: Logo -->
      <div class="flex items-center ">
        <input type="text" placeholder=" ðŸ”  Search for something here..." class="search-width p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bd"/>
      </div>
      <div class="flex align-items-center  ">
        <div class="mx-2">
          <%= current_user.first_name %> <%= current_user.last_name %>
        </div>

        <!-- Profile Image with Dropdown Trigger -->
        <div class="dropdown">
          <!-- Use data-bs-toggle="dropdown" for Bootstrap 5 dropdown toggle -->
          <%= button_tag(type: 'button', class: 'btn ', data: { bs_toggle: 'dropdown' }, aria: { expanded: 'false' }) do %>
            <%= image_tag("profile_pic.png", alt: "Logo", style: "width:45px; height:45px") %>
          <% end %>

          <!-- Dropdown Menu -->
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Do you want to log out?" }, class: "text-red-500 dropdown-item" %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bg-body-secondary rounded-lg p-4">

      <div class="max-w-lg mx-auto bg-white rounded-lg align-items-center justify-content-center text-center">
        <div class="text-center p-4">
          <h1 class="font-bold" style="font-size: 34px;">Profile Details</h1>
        </div>
        <div class="p-6">
          <p class="flex justify-content-center">
            <%= image_tag("profile_pic.png", alt: "Logo", style: "border-radius: 50px; width: 100px; height: 100px ") %>
          </p>

          <p class="mt-4"><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
          <p class="mt-2"><strong>Email:</strong> <%= @user.email %></p>
          <p class="mt-2"><strong>Phone Number:</strong> <%= @user.phone_number %></p>
          <p class="mt-2"><strong>Roles:</strong> <%= @user.roles.map(&:name).join(", ") %></p>
          <p class="mt-2"><strong>Joined On:</strong> <%= @user.created_at.strftime("%d %B %Y") %></p>
        </div>
      </div>
    </div>

  </div>
</div>
