<div class="flex">
  <div class=" text-white h-screen p-3 d-flex flex-column align-items-center" style="width: 300px">
    <div class="d-flex flex-column gap-4 text-center">
      <!-- Logo -->
      <div class="flex mt-2" style="height: 40px; margin-bottom: 40px;">
        <%= image_tag("Frame 8.png", alt: "Logo", class: "") %>
      </div>

      <!-- Navigation Links -->
      <%= render partial: "shared/navigation_link", locals: { path: admin_dashboard_path, icon: "Feed-filled.png", text: "Feed", active_class: "text-black" } %>
      <%= render partial: "shared/navigation_link", locals: { path: admin_profile_path, icon: "Profile.png", text: "Profile", active_class: "text-black" } %>
      <%= render partial: "shared/navigation_link", locals: { path: admin_managed_users_dashboard_path, icon: "managed_filled.png", text: "Manage Users", custom_classes: "bg-primary py-2 rounded px-2", active_class: "text-white fw-bold" } %>
      <%= render partial: "shared/navigation_link", locals: { path: admin_dashboard_reports_path, icon: "report-filled.png", text: "Reports", active_class: "text-black" } %>
      <%= render partial: "shared/logout_link" %>
    </div>
  </div>


  <div class="container mb-4 d-flex flex-column justify-between p-0">
    <div class="container mb-4 d-flex justify-between ms-2">

      <div class="flex mt-4" style="font-size: 28px; font-weight: 700; color: grey">
        User Management
      </div>
      <div class="dropdown mt-3 flex rounded-lg me-3">
        <!-- Use data-bs-toggle="dropdown" for Bootstrap 5 drop down toggle -->
        <%= button_tag(type: 'button', class: 'btn ', data: { bs_toggle: 'dropdown' }, aria: { expanded: 'false' }) do %>
          <%= image_tag("profile_pic.png", alt: "Logo", class: "rounded-full", style: "width:45px; height:45px; border-radius:20px;") %>
        <% end %>

        <div class="ml-3">
          <p class="m-0"><%= current_user.first_name %> <%= current_user.last_name %></p>
          <p style="font-size: 13px;">Admin</p>
        </div>

        <!-- Dropdown Menu -->
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Do you want to log out?" }, class: "text-red-500 dropdown-item" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-3 mt-4 rounded-lg mx-4 bg-gray min-vh-100 align-items-center">
      <div class="container border rounded-lg" style="width: 800px; height: 340px; margin-top: 50px;">
        <div>
          <p class="text-black">Upload File</p>
        </div>
        <% if @file_upload&.errors&.any? %>
          <div class="alert alert-danger text-red-600 bg-red-100 border border-red-400 p-3 rounded-lg">
            <ul>
              <% @file_upload.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if flash[:notice] || flash[:alert] %>
          <div class="fixed-bottom mb-4 d-flex justify-content-end me-5">
            <div class="alert d-flex justify-between align-items-center alert-secondary text-white bg-dark bg-opacity alert-dismissible shadow-lg" style="width: 80%" role="alert">
              <%= flash[:notice] || flash[:alert] %>
              <%#= button_to 'Undo', '#', method: :get, class: "btn btn-sm btn-success mx-3 d-flex" %>
              <button type="button" class="btn-close bg-danger align-items-center" style="border-radius: 20px; padding: 5px; width: 20px; height: 20px; margin: 15px; " data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        <% end %>
        <div class="flex justify-content-center align-items-center mt-5">
          <%= form_with url: admin_upload_files_path, local: true, multipart: true, id: "upload-form", class: "flex flex-col items-center" do |form| %>
            <label for="file-input" class="bg-primary text-white d-flex align-items-center cursor-pointer"
                   style="width: 420px; height: 90px; border-radius: 15px; border: 7px solid #e2e2e2;">
              <%= image_tag "upload-big.png", class: "mb-2" %>
              <span style="margin-left: 40px;">Select file to upload</span>
            </label>
            <%= form.file_field :file, id: "file-input", style: "display: none;", onchange: "document.getElementById('upload-form').submit();" %>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>
<!--</div>-->
