<div class="bg-img position-relative d-flex justify-content-center align-items-center vh-100">
<!--  Header Section-->
  <header class="d-flex align-items-center p-3 position-absolute top-0 start-0 rounded shadow">
    <%= image_tag("logo.png", alt: "Logo", class: "logo me-2 mx-2") %>
    <%= image_tag("logo_name.png", alt: "Logo", class: "logo mx-2") %>
  </header>

<!--  Flash Messages-->
  <% if flash[:notice] || flash[:alert] %>
    <div class="fixed-top mb-4 d-flex justify-content-center me-5 mt-2">
      <div class="alert d-flex justify-between align-items-center alert-success alert-dismissible shadow-lg" style="width: 50%" role="alert">
        <%= flash[:notice] || flash[:alert] %>
        <%#= button_to 'Undo', '#', method: :get, class: "btn btn-sm btn-success mx-3 d-flex" %>
        <button type="button" class="btn-close bg-danger align-items-center" style="border-radius: 20px; padding: 5px; width: 20px; height: 20px; margin: 15px; " data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  <% end %>

  <!-- Content -->
  <div class="content text-center text-white container px-4">
    <h1 class="display-4 fw-bold">
      Social media shared today, tomorrow or by location
    </h1>
    <p class="mt-4 fs-5 fw-semibold">Discover with Maze</p>
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 mt-4">
      <%= link_to 'Create Account', new_user_registration_path, class: "btn btn-primary me-2 px-4 py-2 btn-width" %>
      <%= link_to 'Login', new_user_session_path, class: "btn btn-light me-2 px-4 py-2 btn-width" %>
    </div>
  </div>
</div>
