<div class="flex">
  <!-- Sidebar (Vertical Navbar) -->
  <div class=" text-white h-screen p-4 d-flex flex-column align-items-center ">
    <div class="d-flex flex-column gap-4 text-center">
      <!-- Left: Search Bar -->
      <div class="flex mt-2" style="height: 40px">
        <%= image_tag("Frame 8.png", alt: "Logo", class: "") %>
      </div>
      <!-- Feed Section -->
      <div class="bg-primary py-2 rounded d-flex align-items-center justify-content-center" style="margin-top : 40px;">
        <%= image_tag("Feed.png", alt: "Logo", class: "img me-3") %>
        <%= link_to 'Feed', posts_path, class: "text-white text-decoration-none fw-bold" %>
      </div>

      <!-- Profile Section -->
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag("Profile.png", alt: "Logo", class: "img me-3") %>
        <%= link_to 'Profile', '/', class: "text-black text-decoration-none" %>
      </div>

      <!-- Logout Section -->
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag("Logout.png", alt: "Logo", class: "img me-3") %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Do you want to log out?" }, class: "text-black text-decoration-none" %>
      </div>
    </div>
  </div>

  <div class="flex p-6">
    <div class="mt-2">
      <div class="container mb-4 flex items-center justify-between">

        <!-- Right: Logo -->
        <div class="flex items-center ">
          <input type="text" placeholder=" ðŸ”  Search for something here..." class="search-width p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bd"/>
        </div>
        <div class="flex align-items-center  ">
          <div class="mx-2">
            <%= current_user.first_name %> <%= current_user.last_name %>
          </div>

          <!-- Profile Image with Dropdown Trigger -->
          <div class="dropdown">
            <!-- Use data-bs-toggle="dropdown" for Bootstrap 5 dropdown toggle -->
            <%= button_tag(type: 'button', class: 'btn ', data: { bs_toggle: 'dropdown' }, aria: { expanded: 'false' }) do %>
              <%= image_tag("profile_pic.png", alt: "Logo", style: "width:45px; height:45px") %>
            <% end %>

            <!-- Dropdown Menu -->
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Do you want to log out?" }, class: "text-red-500 dropdown-item" %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container mx-auto bg-gray p-4" style="border-radius:10px;">
        <div class="container p-6 rounded-lg border border-gray-300 bg-white mb-4">
          <div class="container">

            <%= form_with model: @post, local: true do |f| %>
              <% @post.errors.full_messages.each do |message| %>
                <div class="text-red-500"><%= message %></div>
              <% end %>
              <div class="mb-4">
                <%= f.label :title, class: "block" %>
                <%= f.text_field :title, class: "w-full p-2 border border-gray-300 rounded-lg bg-gray" %>
                <% @post.errors.full_messages_for(:title).each do |message| %>
                  <div class="text-red-500"><%= message %></div>
                <% end %>
              </div>

              <div class="mb-4">
                <%= f.label :description, class: "block" %>
                <%= f.text_area :description, class: "w-full p-2 border border-gray-300 bg-gray rounded-lg" %>
                <% @post.errors.full_messages_for(:description).each do |message| %>
                  <div class="text-red-500"><%= message %></div>
                <% end %>
              </div>

              <div class="flex items-center justify-between mb-4">
                <div class="flex align-items-center p-2 bt">
                  <!-- Live Video -->
                  <div class="flex items-center space-x-2">
                    <%= image_tag("bx_video.png", alt: "video", class: "img") %>
                    <%= button_tag "Live Video", type: "button", class: "text-indigo-600 hover1 ms-2 font-medium" %>
                  </div>

                  <!-- Photo/Video -->
                  <div class="flex items-center space-x-2">
                    <%= image_tag("ic_baseline-photo-camera-back.png", alt: "camera", class: "img") %>
                    <%= button_tag "Photo/Video", type: "button", class: "text-indigo-600 hover1 mx-2 font-medium" %>
                  </div>

                  <!-- Feeling -->
                  <div class="flex items-center space-x-2">
                    <%= image_tag("fluent_emoji-24-regular.png", alt: "smile", class: "img") %>
                    <%= button_tag "Feeling", type: "button", class: "text-indigo-600 hover:text-indigo-800 mx-2 font-medium" %>
                  </div>

                  <div class="flex align-items-center space-x-2">
                    <%= f.label :visibility, "Visibility" %>
                    <%= f.select :visibility, Post::VISIBILITY_OPTIONS, {}, class: "form-control mx-2", style: "width : 100px;" %>
                  </div>
                </div>

                <%= f.submit "Post", class: "btn btn-primary" %>

              </div>
            <% end %>

          </div>
        </div>

        <div class=" mx-auto  mb-4">
          <% @posts.each do |post| %>

            <div class="bg-white p-6 rounded-lg shadow-md mb-4">
              <!-- Post Header Section: Title, Date, and More Options Button -->
              <div class="flex justify-between items-center">
                <div>
                  <h2 class="text-xl font-semibold text-gray-800"><%= post.title %></h2>
                  <p class="text-sm text-gray-500"><%= custom_time_ago_in_words(post.created_at) %>
                    , <%= post.visibility.capitalize %></p>
                </div>
                <!-- More Options Button -->
                <div class="text-gray-500 cursor-pointer dropdown">
                  <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">...</button>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Show', post_path(post), class: "text-blue-500 dropdown-item" %></li>
                    <li><%= link_to 'Edit', edit_post_path(post), class: "text-yellow-500 dropdown-item" %></li>
                    <li><%= link_to 'Delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-500 dropdown-item" %>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Post Content (Description) -->
              <p class="mt-4 text-gray-700"><%= post.description %></p>
              <!--        <div class="mt-4 flex justify-between">-->
              <%#= link_to 'Show', post_path(post), class: "text-blue-500" %>
              <%#= link_to 'Edit', edit_post_path(post), class: "text-yellow-500" %>
              <%#= link_to 'Delete', post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-red-500" %>
              <!--        </div>-->
              <!-- Post Likes and Comments Section -->
              <div class="mt-4 flex like-gap items-center text-sm text-gray-500">
                <span><%= post.likes.count %> Likes</span>
                <span><%= post.comments.count %> Comments</span>
              </div>
              <hr class="mt-4"/>

              <!-- Like and Comment Icons -->
              <div class="mt-4 flex space-x-4 text-sm text-gray-600 icon-gap">
                <!-- Like Icon-->
                <!-- In your post display section (index.html.erb) -->
                <%= button_to like_post_path(post), method: :post, remote: true, class: "flex items-center space-x-2 hover:text-blue-500" do %>
                  <%#= image_tag("like_empty.png", alt: "Like", class: "w-5 h-5 cursor-pointer hover:opacity-80") %>
                  <%= image_tag(post.likes.where(user_id: current_user.id).present? ? 'like_filled.png' : 'like_empty.png', alt: "Like", class: "like-icon") %>
                  <span id="like-count-<%= post.id %>" class="mx-2" style="cursor: pointer">Likes</span>
                <% end %>

                <!-- Comments Icon -->
                <%= button_to post_path(post), method: :get, remote: false, class: "flex items-center space-x-2 hover:text-blue-500" do %>
                  <%= image_tag("fa6-regular_comment-dots.png", alt: "Comment", class: "w-5 h-5 cursor-pointer hover:opacity-80") %>
                  <span class="mx-2" style="cursor: pointer">Comments</span>
                <% end %>
              </div>
              <hr class="mt-4"/>

              <!-- Comment Input Section -->
              <div class="mt-4 flex items-center space-x-2">
                <%= form_with model: [post, post.comments.build], remote: true, class: "flex w-full items-center" do |f| %>
                  <%= f.text_area :content, placeholder: "Write a comment...", class: "comment-width border border-gray-300 rounded-lg focus:outline-none focus:ring-2 bg-gray focus:ring-blue-500" %>
                  <div class=" border border-gray-300 rounded-lg focus:outline-none focus:ring-2 bg-gray mx-2 focus:ring-blue-500 p-2">
                    <%= button_tag type: 'submit', class: 'p-3 rounded-lg flex items-center' do %>
                      <%#= f.submit "Post", class: "btn" do%>

                      <%= image_tag("fluent_send-16-filled.png", alt: "Send", class: "w-6 h-50 mr-2 cursor-pointer hover:opacity-80") %>
                    <% end %>
                  </div>

                <% end %>
              </div>

              <!-- Display Comments -->
<!--              <div class="mt-4 space-y-4">-->
<!--                <div class="mt-4">-->
<!--                  <h2 class="text-xl font-semibold text-gray-800">Comments</h2>-->
<!--                  <hr class="mt-4"/>-->
<!--                </div>-->

                <%# (post.comments || []).each_with_index do |comment| %>
                  <%# next if i == 0 %>
                  <%# next if comment.nil? || comment.id.nil? %>
<!--                  <div class="flex items-center justify-between space-x-2 mt-2">-->

                    <!-- Comment Text -->
<!--                    <div class="flex">-->
                      <%#= image_tag("logo_without.png", alt: "Logo", class: "img me-1") %>
<!--                      <strong><%#= comment.user.first_name %> <%#= comment.user.last_name %></strong>-->
<!--                    </div>-->

                    <!-- Icon -->
<!--                    <div class="flex items-center space-x-2">-->
                      <%#= image_tag("like_empty.png", alt: "Like", class: "w-5 h-5 cursor-pointer hover:opacity-80") %>
                      <%#= button_to like_post_comment_path(post, comment), method: :post, remote: true, class: "flex items-center space-x-2 hover:text-blue-500" do %>
                        <%#= image_tag("like_empty.png", alt: "Like", class: "w-5 h-5 cursor-pointer hover:opacity-80") %>
<!--                        <span id="like-count-<%#= comment.id %>" class="mx-2"><%#= comment.like_count %></span>-->
                      <%# end %>
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="flex justify-between">-->
<!--                    <p class="text-sm text-gray-600 mx-4"><%#= comment.content %></p>-->
<!--                    <p class="text-sm text-gray-600 mx-4"><%#= custom_time_ago_in_words(comment.created_at) %></p>-->
<!--                  </div>-->
<!--                  <hr class="mtop"/>-->
                <%# end %>
<!--              </div>-->
              <div class="mt-4 space-y-4">
                <div class="mt-4">
                  <h2 class="text-xl font-semibold text-gray-800">Comments</h2>
                  <hr class="mt-4"/>
                </div>

                <% latest_comment = post.comments.order(created_at: :desc).first %>
                <% if latest_comment %>
                  <div class="flex items-center justify-between space-x-2 mt-2">

                    <!-- Comment Text -->
                    <div class="flex">
                      <%= image_tag("logo_without.png", alt: "Logo", class: "img me-1") %>
                      <strong><%= latest_comment.user.first_name %> <%= latest_comment.user.last_name %></strong>
                    </div>

                    <!-- Icon -->
                    <div class="flex items-center space-x-2">
                      <%= button_to like_post_comment_path(post, latest_comment), method: :post, remote: true, class: "flex items-center space-x-2 hover:text-blue-500" do %>
                        <%= image_tag("like_empty.png", alt: "Like", class: "w-5 h-5 cursor-pointer hover:opacity-80") %>
                        <span id="like-count-<%= latest_comment.id %>" class="mx-2"><%= latest_comment.like_count %></span>
                      <% end %>
                    </div>
                  </div>
                  <div class="flex justify-between">
                    <p class="text-sm text-gray-600 mx-4"><%= latest_comment.content %></p>
                    <p class="text-sm text-gray-600 mx-4"><%= custom_time_ago_in_words(latest_comment.created_at) %></p>
                  </div>
                  <hr class="mtop"/>
                <% else %>
                  <p class="text-gray-500">No comments yet. Be the first to comment!</p>
                <% end %>
              </div>

            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>